.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
}

.game-board {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.game-info {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.game-info .status {
  font-size: 20px;
  font-weight: 700;
}

.move-button {
  width: 200px;
  background-color: #27ae60;
  border-width: 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
